$body-background: #1a1a1a;
$text-on-dark-background: #f5f5ee;
$text-on-light-background: black;

$table-header-background: #444;
$table-body-background: #222;
$table-footer-background: rgb(210, 210, 210);
$table-border-radius: 0.5rem;
$table-shadow: rgba(0, 0, 0, 0.5) 0.25rem 0.25rem 1rem;
